.alert {
    background: #fff;
    position: fixed;
    padding: 0px;
    border-radius: 0px;
    top: 0px;
    z-index: 999;
    left: 20px;
    top:100px;
    left:50%;
    margin-left:-500px;
}

.mask {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
    background: #10090d;
    z-index:998;
}

